.master-list {
    background-color: #f7f7f7;
    text-align: center;
}

.master-list ul {
    margin-bottom: 15px;
}

.master-list-header{
    display: inline-block;
    text-align: center;
    font-size: xx-large;
}

.master-list-nav {
    background-color: white;
    width: 1000px ;
    margin: 0 auto;
    border-radius: 8px;
    border: 0;
    padding: 1em 3.3em 1em 1em;
    font-weight: 600;
}


.master-list-nav li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;   
}


.master-list-hr {
    width: 800px;
}

.master-list-recognize {
    color: green;

}

.master-list-wait {
    color: gray;

}

.master-list-refuse {
    color: red;

}

.master-float-right {
    float: right;
    margin-right: 5em;
    padding: 0%;
}

.master-float-left {
    float: left;
    width: 140px;
    padding: 0%;
    margin-left: 2em;
}

.master-center1 {
    display: inline-block;
    width: 200px;
    padding: 0%;
    
}

.master-center2 {
    display: inline-block;
    width: 200px;
    padding: 0%;
    margin-right: 30px;

}

.master-center1-1 {
    display: inline-block;
    width: 140px;
    padding: 0%;
    margin: 0 5px 0 5px;
}

.master-center2-1 {
    display: inline-block;
    width: 140px;
    padding: 0%;
    margin: 0 5px 0 5px;
}

.master-float-right1 {
    float: right;
    margin-right: 1em;
    padding: 0%;
}
.master-float-left1 {
    float: left;
    width: 140px;
    padding: 0%;
}
.a__ul {
    padding: 0;
}