.board {
  margin: 0 auto;
  text-align: center;
  font-family: "NotoSansCJKkrMedium"; 
}

.board-main {
  text-align: center;
  font-size: xx-large;
  font-family: "NotoSansCJKkrBold";    
}

.board-nav {
  text-align: center;
  margin: 0 auto;
  
}

.board-nav ul {
  padding: 0;
  
}

.board-nav li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  padding: 2px;

}

.board-title {
  display: inline-block;
  text-align: left;
  margin: 0 auto;

  
}

.board-title h1 {
  background-color: #161516;
  color: white;
  padding: 5px 0 5px 20px;
  border-radius: 8px;
  font-family: "NotoSansCJKkrRegular";      
}

.board-name {
  display: inline-block;
  width: 300px;
  text-align: left;
  
}

.board-game {
  display: inline-block;
  text-align: right;
  width: 240px;
  padding: 0 40px 0 0;
}

.board-date {
  display: inline-block;
  width: 270px;
  text-align: left;
  padding: 0;
}

.board-assess {
  text-align: justify;
}

.list-title {
  text-align: left;
  background-color: #161516;
  color: white;
  padding: 5px 0 5px 20px;
  border-radius: 8px;
  font-family: "NotoSansCJKkrRegular";   
}

  .screenshot-nev{
    text-align: center;
  }

  .screenshot {
    display: inline-block;
  }

  .screenshot-list img {
    width: 230px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .screenshot-lists {
    display: inline-flex;
    padding: 10px;
  }
  
  .board-hr {
    text-align: center;
    width: 850px;
    padding: 0%;
    margin: 0 auto;
  }
  
  .board-title1 {
    display: inline-block;
    width: 890px;
  }
  .b__div1 {
    display: flex;

  }
  
  div .board-title1 {
    margin: 0;
  }
  .board-title2 {
    display: inline-block;
    width: 890px;
  }
  .screenshot-nev {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

  }