.free-number { 
    display: inline-block;
}

.free-number li{
    display: inline-block;
    padding-left: 10px;
}

.free-select{
    height: 35px;
    border-radius: 8px;
    border-color: #e2e2e2;
}

.free-select-input {
    border-radius: 8px;
    border-color: #e2e2e2;
}

.free-list {
    display: inline-block;
}

.free-list-title {
    text-align: justify;
    display: inline-block;
    margin: 3em 8em 3em 0;
}

.free-list-title li:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}

.free-list-date {
    display: inline-block;
    margin: 3em 0 3em 8em;
}

.boardsearch {
    height: 30px;
    width: 473px;
    margin: 10px;
}

.free-button-search {
    height: 35px;
    width: 60px;
    border: 0;
    outline: 0;
    border-radius: 4px;
}

.free-button-nav {
    padding: 2em;
}
.free-button {
    background-color: #161516;
    color: white;
    border-radius: 8px;
    margin: 0;
    width: 100px;
    height: 40px;
    border: 0;
    outline: 0;
    font-size: 18px;
}

.free-button a{
    color: white;
    font-family: "NotoSansCJKkrMedium";      
}

.free-hr {
    width: 60em;
}

.common-table{
    display: inline-block;
    text-align: center; 

    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 5px;
}
.common-table-header-column {
    font-family: "NotoSansCJKkrDemiLite";   
    color: white;
    background-color: #161516;
    padding: 0 15px 0 15px;

}
.common-table-column {
    padding: 20px 10px;
}
.b__lbox {
    margin: 30px;
}
#create_btn {
    width: 300px;
    height: 20px;
    margin-right: 20px;
}
.free-select {
    margin-right: 20px;
    width: 80px;
    height: 30px;
    font-family: "NotoSansCJKkrMedium"; 
}
#search_btn {
    margin-left: 10px;
    background-color: #161516;
    color: white;
    border: 0;
    width: 80px;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
    font-family: "NotoSansCJKkrMedium";      
}
#reset_btn {
    margin-left: 10px;
    background-color: #a52a2a;
    color: white;
    border: 0;
    width: 80px;
    border-radius: 8px;
    font-size: 15px;
    padding: 5px;
    font-family: "NotoSansCJKkrMedium";      
}
.board-nav1 {
    text-align: center;
    font-size: xx-large;
    font-family: "NotoSansCJKkrBold";     
    margin: 0 auto;
}

.board-navs1 {
    display: flex;
    justify-content: center;
    place-content: center;
    padding: 0;
    margin: 20px;
}
.b__nli {
    font-family: "NotoSansCJKkrBlack";
    padding: 10px;
}

