.Register {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.r__form {
    border-top: 1px solid rgb(197, 195, 195);
    margin-bottom: 50px;
}
.r__h2 {
    text-align: center;
    padding: 20px 0; 
}
.r__title {
    padding: 10px;
    margin-top: 20px;
}
.label {

    margin-right: 30px;
}

.t__input{
    width: 40%;
    border-color: #e2e2e2;
    border-radius: 4px;
}

.r__textarea {
    width: 40%;
    height: 250px;
    border-color: #e2e2e2;
    border-radius: 4px;
}
.r__content {
   display: flex;
   justify-content: center;
   padding: 10px; 
}
.r__image {
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(197, 195, 195);
}
.input {
    border-color: #e2e2e2;
    border-radius: 4px;
    width: 35%;
    margin-right: 10px;
}
.r__btn {
    background-color: #dcdcde;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    margin-right: 19px;
}
.r__submit {
    background-color: #5e5e5e;
    color: white;
    border-radius: 6px;
    width: 100px;
    height: 36px;
    border: 0;
    outline: 0;
}

.star-rating-select {
    margin-bottom: 2em;
}

.previewImg img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin-top: 30px;
}

.file {
    display : none;
}