.Company-nav{
    color: black;
    font-size: xx-large;
    text-align: center;
    font-family: "NotoSansCJKkrBold";          
}

.booth1-nav {
    text-align: center;
    padding-bottom: 10em;
}

.booth1-img {
    text-align: center;
    display: inline-block;
    padding: 1em;
    width: 600px;
    
}

.booth1-text {
    display: inline-block;
    text-align: center;
    padding: 5em;
    vertical-align: top;
    font-size: large;
    font-weight: 600;
    font-family: "NotoSansCJKkrRegular";   


}

.booth2-nav {
    text-align: center;
    font-family: "NotoSansCJKkrBlack";      
}

.booth2 {
    text-align: center;
    padding-bottom: 10em;
}

.booth2-img {
    text-align: center;
    width: 700px;
}

.button-nav {
    text-align: center;
    padding-bottom: 7em;
}

.button {
    background-color: #161516;
    color: white;
    line-height: 2.5em;
    border-radius: 8px;
    margin: 0;
    font-size: large;
    padding: 10px 100px;
    font-family: "NotoSansCJKkrMedium";   
}
