.passwordchange {
    margin: 0 auto;
    text-align: center;
}

.passwordchange-logo {
    height: 50vmin;
}

.passowrdchange-textbox {
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #f7f7f7;
    width: 1100px;
    padding: 2px;
    border-radius: 8px;
}

.passowordchange-text1 {
    font-weight: 600;
}

.passowordchange-text2 {
    text-align: justify;    
    margin: 20px 0 20px 22px;

}

.passwordchange-text {
    font-weight: 600;
    margin-right: 10px;
}

.passwordchange-login {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border-color: #e2e2e2;
    margin-bottom: 3px;
}

.passwordchange-button {
    width: 230px;
    height: 40px;
    border-radius: 8px;
    border:0;
    margin: 20px 5px 20px 5px;
    font-size: medium;
    font-weight: 600;
    background-color: #5e5e5e;
    color: white;

}

.passwordchange-button a {
    color: white;
}