.UserInquiry {
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 50px;
}

.UserInquiry-header {
    display: inline-block;
    text-align: center;
    font-size: xx-large;
}


.UserInquiry-main{
    margin: 0 auto;
    text-align: center;
    background-color:white;
    width: 700px;
    border-radius: 8px;
    
    
}

.UserInquiry-nav {
    float: left;
    margin: 0;
    padding: 0;
    
}

.UserInquiry-nav li {
    display: inline-block;
}

.UserInquiry-title-name {
    background-color: #e5e5e5;
    width: 150px;
    padding : 20px;
    margin: 0;
    font-weight: 600;
    border-radius: 8px 0 0 0 ;
}

.UserInquiry-title {
    background-color: #e5e5e5;
    width: 150px;
    padding : 20px;
    margin: 0;
    font-weight: 600;
}

.UserInquiry-info {
    width: 400px;
}

.UeserInquiry-modify {
    background-color: #e7e7e7;
    width: 70px;
    border: 0;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.UserInquiry-passwordchange {
    background-color: #e7e7e7;
    width: 70px;
    border: 0;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.UserInquiry-button {
    margin: 0 auto;
    width : 200px;
    padding-top: 100px;
    padding-bottom: 30px;
}

.UserInquiry-button-text {
    background-color: #e7e7e7;
    border-radius: 8px;
    border: 0;
    width: 100px;
    height: 40px;
    font-size: medium;
    font-weight: 600;
}

.UserInquiry-hr {
    width: 700px;
    text-align: center;
    margin:0%;
}